<div class="vuelos-mas-info">
  <h3>Más Información sobre Vuelos</h3>
  
  <div class="info-content">
    <p>Aquí encontrarás información adicional sobre nuestros servicios de vuelos.</p>
    <ul>
      <li>Vuelos nacionales e internacionales</li>
      <li>Mejor precio garantizado</li>
      <li>Atención al cliente 24/7</li>
      <li>Cambios y cancelaciones flexibles</li>
    </ul>
  </div>
  
  <div class="actions">
    <!-- Navegación relativa: desde 'mas-info' al hermano 'main' -->
    <a routerLink="../main" class="btn">Volver al Listado</a>
  </div>
</div>
