<div class="card-content">
  <div class="card-img">
    <img [src]="destino?.imagenUrl" alt="{{ destino?.nombre }}" />
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{ destino?.nombre }}</h3>
    <p>servicios</p>
    <ul>
      @for (s of destino?.servicios; track s) {
        <li>
          <span>
            @switch (s) {
              @case ('pasajes') {
                <i style="color:red">{{s}}</i>
              }
              @default {
                <i>{{s}}</i>
              }
            }
          </span>
        </li>
      }
    </ul>
    <div class="vote-section">
      <div class="vote-counter">
        <span class="vote-badge">{{ destino?.votos || 0 }}</span>
      </div>
      <div class="vote-buttons">
        <a href="#" class="vote-btn up" title="A favor" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
        <a href="#" class="vote-btn down" title="En contra" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
      </div>
    </div>
    <a href="#" class="btn-card" (click)="ir($event)">Ir</a>
    @if (isSelected) {
      <span ngNonBindable>{{PREFERIDO}}</span>
    }
    <a [routerLink]="['/destino']" class="btn-card">Ver destino</a>
  </div>
</div>
